name: pr-merged
permissions: read-all
on:
  pull_request_target:
    types: [closed]
    branches:
    - 'main'
    paths-ignore:
      - '*.md'
      - '*.yaml'
      - '.github/workflows/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  reset-run-number:
    runs-on: ubuntu-latest
    name: reset github.run_number
    outputs:
      run-number: ${{ steps.get-build.outputs.build-number }}
    steps:
    - name: Get build number
      id: get-build
      uses: mlilback/build-number@v1
      with:
        base: -22
        run-id: ${{ github.run_number }}

  pr-merged:
    if: ${{ github.event.pull_request.merged == true }} ## Skip if not merged
    needs: reset-run-number
    permissions:
      actions: read
      id-token: write
      packages: write
      contents: write
      pull-requests: read
    uses: kubescape/workflows/.github/workflows/incluster-comp-pr-merged.yaml@main
    with:
      IMAGE_NAME: quay.io/${{ github.repository_owner }}/prometheus-exporter
      IMAGE_TAG: v0.2.${{ needs.reset-run-number.outputs.run-number }}
      COMPONENT_NAME: prometheus-exporter
      CGO_ENABLED: 0
      GO111MODULE: "on"
      BUILD_PLATFORM: linux/amd64,linux/arm64
      GO_VERSION: "1.25"
      REQUIRED_TESTS: '[]'
      COSIGN: true
      HELM_E2E_TEST: true
    secrets: inherit
